/* Nav and body */
html, body {
  height: 100%;
  width: 100%;
	margin: 0;
  font-family: noto sans japanese;
	background:#141414;
}

.topnav{
  overflow: hidden;
  background-color: #141414;
	width: 100%;
	height: auto;
}

.topnav a{
  float: left;
  display: block;
  color: rgb(234, 16, 22);
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
	font-weight: bold;
	margin-top: 15px;
	font-family: noto sans japanese;
}

.topnav a:hover {
  color: rgb(167, 17, 22);
}

.topnav a.active {
  background-color: #141414;
  color: rgb(234, 16, 22);
	font-size: 35px;
	margin: 0px;
	margin-left: 10px;
	margin-right: 35px;
}

.topnav a.active:hover{
	color: rgb(167, 17, 22);
}

.topnav .icon {
  display: none;
}

.topnav a img{
	display: none;
}

.topnav a:hover img{
	display: block;
}

@media screen and (max-width: 1100px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* TAB */
* {
  box-sizing: border-box;
}

.tabForimg {
  border-bottom: 5px solid rgb(7, 6, 6);
	border-top: 5px solid rgb(7, 6, 6);
  background-color: black;
	border-radius: 10px;
	margin: 0px;
	width: 100%;
	height: 7%;
	white-space:nowrap;
	position: relative;
	float: left;
}

/* Style the buttons inside the tab */
.tabForimg button {
  background-color: rgb(15, 14, 14);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 7px;
  transition: 0.3s;
  font-size: 20px;
	color: rgb(234, 16, 22);
	margin: 0px;
	font-family: noto sans japanese;
	font-weight: bold;
	width: 49.8%;
	float: center;
}

/* Change background color of buttons on hover */
.tabForimg button:hover {
  background-color: rgb(15, 14, 14);
	color: rgb(167, 17, 22);
}

/* Create an active/current tablink class */
.tabForimg button.active {
  background-color: rgb(189, 19, 24);
	color: rgb(15, 14, 14);
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

/* The Main Image 1 */
#main-img {
  height: 100%;
  width:100%
} 

@media screen and (max-width: 425px){   
  #main-img{      
    content:url("Milgram\ First\ Trial\ 合照小图.jpeg");
  } 
}

@media screen and (min-width: 0px) {      
  #main-img{      
  	content:url("Milgram\ First\ Trial\ 合照小图.jpeg");
   } 
} 
@media (min-width: 768px){      
  #main-img{        
    content:url("Milgram\ First\ Trial\ 合照大图.jpg");  
  } 
}
@media (min-width: 1440px) {    
  #main-img{         
   content:url("Milgram\ First\ Trial\ 合照大图.jpg");   
  } 
}

/* The Main Image 2 */
#main-img2 {
  height: 100%;
  width:100%
} 

@media screen and (max-width: 425px){   
  #main-img2{      
    content:url("Milgram\ Second\ Trial\ 合照小图.png");
  } 
}

@media screen and (min-width: 0px) {      
  #main-img2{      
  	content:url("Milgram\ Second\ Trial\ 合照小图.png");
   } 
} 
@media (min-width: 768px){      
  #main-img2{        
    content:url("Milgram\ Second\ Trial\ 合照大图.jpg");  
  } 
}
@media (min-width: 1440px) {    
  #main-img2{         
   content:url("Milgram\ Second\ Trial\ 合照大图.jpg");   
  } 
}

/* The Body Paragraph */
.title{
	font-size: 20px;
	margin: 4px 0px 0px 0px;
	background-color: rgb(234, 16, 22);
	color: rgb(15, 14, 14);
	text-align: center;
	font-family: noto sans japanese;
	padding: 5px;
	font-weight: bold;
}

.bp{
	color: rgb(234, 16, 22);
	font-family: noto sans japanese;
	background-color: #141414;
	font-size: 15px;
	text-align: center;
	margin: 0px;
	padding: 10px 20px;
	font-weight: bold;
}

.title2{
	font-size: 20px;
	margin: 4px 0px 0px 0px;
	background-color: rgb(234, 16, 22);
	color: rgb(15, 14, 14);
	text-align: center;
	font-family: noto sans japanese;
	margin-top: 5px;
	padding: 5px;
	font-weight: bold;
}

/* ES section */

	/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

#guard{
	background: rgb(167, 17, 22);
}

#guard #ES1{
	background: rgb(167, 17, 22);
	border-left: 4px solid rgb(15, 14, 14);
	border-bottom: 4px dashed rgb(15, 14, 14);
	margin: 0px;
	padding: 10px 10px 0px 10px;
}

#ES1 h1{
	font-size: 25px;
	margin: 0px;
	font-family: noto sans japanese;
	font-weight: bold;
}

#ES1 h2{
	font-size: 20px;
	margin: 0px;
	font-family: noto sans japanese;
	font-weight: bold;
}

#ES1 img{
	width: 100%;
	max-width: 300px;
	vertical-align: bottom;
	margin: 0px;
	padding: 0px;
}

#ES1 img:hover{
	opacity: 0.5;
}

#ES2{
	background: rgb(167, 17, 22);
	border-left: 4px dashed rgb(15, 14, 14);
	border-bottom: 4px solid rgb(15, 14, 14);
}

#ES2 p{
	font-weight: bold;
	font-family: noto sans japanese;
	font-size: 15px;
	margin: 15px;
}

#guard #JK1{
	background: rgb(167, 17, 22);
	border-left: 4px solid rgb(15, 14, 14);
	border-bottom: 4px dashed rgb(15, 14, 14);
	margin: 0px;
	padding: 10px 10px 0px 10px;
}

#JK1 h1{
	font-size: 25px;
	margin: 0px;
	font-family: noto sans japanese;
	font-weight: bold;
}

#JK1 h2{
	font-size: 20px;
	margin: 0px;
	font-family: noto sans japanese;
	font-weight: bold;
}

#JK1 img{
	width: 100%;
	max-width: 200px;
	vertical-align: bottom;
	display: flex;
	margin: 0px;
	padding: 0px;
}

#JK1 img:hover{
	opacity: 0.5;
}

#JK2{
	background: rgb(167, 17, 22);
	border-left: 4px dashed rgb(15, 14, 14);
	border-bottom: 4px solid rgb(15, 14, 14);
}

#JK2 p{
	font-weight: bold;
	font-family: noto sans japanese;
	font-size: 15px;
	margin: 15px;
}

@media (max-width: 950px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

footer nav{
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  font-size: 14px;
	width: 1200px;
  margin: auto;
	background: #141414;
}

nav{
	display: block;
}

.home-official-link1 a{
  display: block;
  color: rgb(234, 16, 22);
  text-align: center;
  padding: 10px 0px 0px 0px;
  text-decoration: none;
  font-size: 35px;
	font-weight: bold;
	font-family: noto sans japanese;
}

.home-official-link1 a:hover {
  color: rgb(167, 17, 22);
}

.home-official-link2 p{
	color: rgb(234, 16, 22);
	font-size: 18px;
	font-family: noto sans japanese;
	font-weight: bold;
	padding: 10px 0px 0px 0px;
	width: 150px;
}

.home-official-link2 a{
	text-decoration: none;
	list-style: none;
	list-style-type: none;
	color: rgb(234, 16, 22);
}

footer nav div.home-official-link1 {
  padding: 0px 28px 0px 28px;
	margin: 0px;
}

footer nav div.home-official-link2 {
	padding: 0px 0px 0px 28px;
	text-decoration: none;
	list-style: none;
	list-style-type: none;
}

ul{
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	list-style: none;
	box-sizing: border-box;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

li{
	display: inline-block;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	text-decoration: none;
	color: rgb(234, 16, 22);
	list-style: none;
	list-style-type: none;
	font-weight: bold;
}

li a:hover {
  color: rgb(167, 17, 22);
}

footer nav ul{
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	text-decoration: none;
}

@media only screen and (max-width: 768px){
	footer nav{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: center-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    width: 100%;
	}
}
